body {
    background-color: rgb(255, 224, 249); 
    margin: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
header {
    background-color: black;
    color: white; 
    padding: 2rem; 
    text-align: right; }
header a:link {
    color: white; 
    text-decoration: none; }
header a:visited {
    color: white; 
    text-decoration: none; }
header a:hover {
    color: lightgreen;
    text-decoration: underline; }
header a:active {
    color: orange;
    text-decoration: underline; }
main {
    border: 0px red solid; }
a:link {
    color: darkmagenta; }
a:visited {
    color: blue; }
a:hover {
    color: green; }
a:active {
    color: red; }
.wrapper {
    border: 0px black solid;
    margin: 0 auto;
    max-width: 40rem; }
h1 {
    text-align: center; 
    margin-top: 3rem;
    margin-bottom: 3rem; }
h2.logo {
    background-color: blueviolet; 
    text-align: center; 
    width: 6rem;
    height: 6rem; 
    display: grid;
    align-items: center; 
    border-radius: 50%; }
article {
    background-color: white;
    border: 1px black dashed;
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem; 
    border-radius: 1.2rem; }
footer {
    background-color: black; 
    color: white; 
    padding: 1rem; 
    text-align: center; }